@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-main-image" style="background-image: url('../../Content/Pictures/large blue test tube.jpg'); " ;
     ">
    <h1>Northwest Labs</h1>
    <br />
    <br />
    <p class="lead p-shaded-text">
        Here at Northwest Labs, we aim to give the best of Assay analysis.
    </p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Learn More", "About", "Home")</a></p>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <p>@Html.ActionLink("View Work Orders", "Index", "WorkOrders", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <p>@Html.ActionLink("Receive a Quote", "Index", "WorkOrders", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <p>@Html.ActionLink("View Catalog", "Index", "WorkOrders", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work Orders</h2>
        <p>     </p>
        <p>@Html.ActionLink("View Work Orders", "Index", "WorkOrders", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Quotes</h2>
        <p>     </p>
        <p>@Html.ActionLink("Receive a Quote", "Index", "WorkOrders", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Catalogs</h2>
        <p>     </p>
        <p>@Html.ActionLink("View Catalog", "Index", "WorkOrders", null, new { @class = "btn btn-default" })</p>
    </div>
</div>