<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" >
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="containerheader">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Northwest Labs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand link-heavy " })</li>
                    <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "sublinks" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { @class = "sublinks" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "sublinks" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="wrapper" navbar>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
                @*<strong>BS</strong>*@
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sublinks">
                        <i class="fas fa-copy"></i>
                        Work Orders
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            @Html.ActionLink("View Work Orders", "Index", "WorkOrders", null, new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Create Work Orders", "Create", "WorkOrders", null, new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Provide a Quote", "Index", "Quotes", null, new { @class = "sublinks" })
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sublinks">
                        <i class="fas fa-home"></i>
                        Catalogs
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu" style="color:white">
                        <li>
                            @Html.ActionLink("Assays", "Index", "Assays", null, new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Tests", "Index", "Tests", null, new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Compounds", "Index", "Compounds", null, new { @class = "sublinks" })
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#CustomersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sublinks">
                        <i class="fas fa-copy"></i>
                        Customers
                    </a>
                    <ul class="collapse list-unstyled" id="CustomersSubmenu" style="color:white">
                        <li>
                            @Html.ActionLink("View Customers", "Index", "Customers", null, new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Add a Customer", "Create", "Customers", null, new { @class = "sublinks" })
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#reportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sublinks">
                        <i class="fas fa-home"></i>
                        Reports
                    </a>
                    <ul class="collapse list-unstyled" id="reportsSubmenu" style="color:white">
                        <li>
                            @Html.ActionLink("Profitability", "Index", "Home", null, new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Employee Performance", "Index", "Home", new { @class = "sublinks" })
                        </li>
                        <li>
                            @Html.ActionLink("Lab Performance", "Index", "Home", new { @class = "sublinks" })
                        </li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))

                    {
                        <li class="active">
                            <a href="#Stuff" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sublinks">
                                <i class="fas fa-home"></i>
                                Admin
                            </a>
                            <ul class="collapse list-unstyled" id="Stuff">
                                <li>
                                    <a href="#">Manage Employees</a>
                                </li>
                                <li>
                                    <a href="#">Manage Users</a>
                                </li>
                            </ul>
                        </li>
                    }
                }

                </ul>

</nav>
        <div  id="content" class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
