
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@model Northwest_Prototype.Models.AssayViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Quote Pricing</h2>

<div>
    <h4>Assay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Quote Name
        </dt>
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayName)
        </dd>

        <dt>
           Estimated Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstDayDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tests)
        </dt>

        <dd>
            @foreach (var item in Model.Tests)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>

    </dl>
    <div class="jumbotron">
      Total price @Html.DisplayFor(model => model.TotalPrice)
    </div>
</div>
<p>
    @Html.ActionLink("Edit Quote", "Edit", new { id = Model.AssayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
