@model Northwest_Prototype.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustAdd1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustAdd1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustAdd2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustAdd2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustBillAdd1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustBillAdd1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustBillAdd2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustBillAdd2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustBillCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustBillCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustBillState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustBillState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustBillZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustBillZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustBillCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustBillCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustCreditCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustCreditCard)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
