@model Northwest_Prototype.Models.AssayViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Assay Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayProtocol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayProtocol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstDayDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstDayDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tests)
        </dt>

        <dd>
            @foreach (var item in Model.Tests)
            {
                if(item.Checked)
                {
                    <div>@item.Name</div>
                    <div>@item.Price</div>
                }
            }
        </dd>

    </dl>
    <div>
        @Html.DisplayFor(model => model.TotalPrice)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssayID }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default" })
</p>
